<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<style>
 body{
background-color: aqua;
	
}
  .imgRedonda {
    
    border-radius:15px;
}
#f1{
width:25%;
	 height:500px;
float:left;
border:5px  solid red;
transition: all 0.3s ease-out;
background-color: white ;
border-radius: 20px;
margin-left:-5%;
margin-top:25px;	
}


#f5:hover{
border: solid black;
cursor: pointer;
}

#f2{
width:250%;
     height:75px;
float:center;
text-align: center;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: coral ;
border-radius: 20px;
margin-left:400px;
margin-top:-500px;
}

#f3{
width:100%;
	 height:200px;
float:center;
vertical-align: text-top;
text-align: left;
font-family:monospace;
font-size:5pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: chocolate ;
border-radius: 20px;
margin-left:0px;
margin-top:20px;
}

#f4{
width:100%;
	 height:200px;
float:center;
text-align: left;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: bisque ;
border-radius: 20px;
margin-left:0px;
margin-top:28px;
}

input, textarea{
	width: 100%;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: black;
	float:left;
	margin-left:400px;
	margin-top:-175px;
}

textarea{
	min-height: 100px;
	max-height: 100px;
	border: black;
	float: left;
	margin-left:100px;
	margin-top:-1125px;
}
#boton{
	background:#31384A;
	color: red;
	padding: 20px;
}

#boton:hover{
	cursor: pointer;
}

#g4{
	width:250%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:400px;
	margin-top:-400px;
}

#g5{
	width:250%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:400px;
	margin-top:-325px;
}
#g3{
	width:250%;
		 height:150px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:400px;
	margin-top:-250px;	
}

#g2{
	width:250%;
		 height:50px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:15pt;
	border:  solid black ;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:400px;
	margin-top:-125px;			
}

#g2:hover{
	border: solid black;
	cursor: pointer;
}				

#g6{
	width:250%;
		 height:75px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:400px;
	margin-top:-500px;
}


#g1{
	width:25%;
		height:500px;
	float:left;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:50px;
	margin-top:25px;	
}
@@media screen and (min-width:376px) and (max-width:768px) {
    body{
background-color: blue;
	
}
    #f1{
width:72%;
	 height:500px;
float:left;
border:5px  solid teal;
transition: all 0.3s ease-out;
background-color: white ;
border-radius: 20px;
margin-left:15%;
margin-top:100px;	
}
#f2{
width:100%;
     height:75px;
float:center;
text-align: center;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: bisque ;
border-radius: 20px;
margin-left:0px;
margin-top:-575px;
}
#f3{
width:101%;
	 height:220px;
float:center;
vertical-align: text-top;
text-align: left;
font-family:monospace;
font-size:5pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: coral ;
border-radius: 20px;
margin-left:0px;
margin-top:530px;
}
#f4{
width:100%;
	 height:220px;
float:center;
text-align: left;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color:chocolate ;
border-radius: 20px;
margin-left:0px;
margin-top:28px;
}
#g4{
	width:101%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:-1px;
    margin-top:20px;
}

#g5{
	width:101%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;
}
#g3{
	width:101%;
		 height:150px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;	
}

#g2{
	width:101%;
		 height:50px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:15pt;
	border:  solid black ;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;			
}

#g2:hover{
	border: solid black;
	cursor: pointer;
}				

#g6{
	width:100%;
		 height:75px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
margin-top:-575px;
}


#g1{
	width:25%;
		height:500px;
	float:left;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:50px;
	margin-top:25px;	
}
}

@@media screen and (min-width:0px) and (max-width:375px) {
     body{
background-color: violet;
	
}
    #f1{
width:90%;
	 height:500px;
float:left;
border:5px  solid teal;
transition: all 0.3s ease-out;
background-color: white ;
border-radius: 20px;
margin-left:5%;
margin-top:150px;	
}
#f2{
width:100%;
     height:100px;
float:center;
text-align: center;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: chocolate ;
border-radius: 20px;
margin-left:0px;
margin-top:-625px;
}
#f3{
width:101%;
	 height:380px;
float:center;
vertical-align: text-top;
text-align: left;
font-family:monospace;
font-size:5pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: bisque ;
border-radius: 20px;
margin-left:0px;
margin-top:580px;
}
#f4{
width:100%;
	 height:310px;
float:center;
text-align: left;
font-family:monospace;
font-size:12pt;
border:  solid black;
transition: all 0.3s ease-out;
background-color: coral ;
border-radius: 20px;
margin-left:0px;
margin-top:28px;
}
#g4{
	width:101%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:-1px;
    margin-top:20px;
}

#g5{
	width:101%;
		 height:50px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;
}
#g3{
	width:101%;
		 height:150px;
	float:center;
	text-align: left;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;	
}

#g2{
	width:101%;
		 height:50px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:15pt;
	border:  solid black ;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
	margin-top:10px;			
}

#g2:hover{
	border: solid black;
	cursor: pointer;
}				

#g6{
	width:100%;
		 height:75px;
	float:center;
	text-align: center;
	font-family:monospace;
	font-size:12pt;
	border:  solid black;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:0px;
margin-top:-575px;
}


#g1{
	width:25%;
		height:500px;
	float:left;
	transition: all 0.3s ease-out;
	background-color: white ;
	border-radius: 20px;
	margin-left:50px;
	margin-top:25px;	
}
}

</style>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Proyecto2</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
